@import url(base/reset.css);
@import url(base/icones.css);
@import url(base/perfil.css);
@import url(base/campoTexto.css);
:root{
    /*Cores*/
    --fundo: #051D3B;
    --cor-1: #5081FB;
    --cor-2: #7BA4FC;
    --cor-3: #96B9FD;

    /*tipografia-tamanho*/
    --titulo: 21px 32px;
    --corpo: 16px 24px;
    --titulo-barra-lateral: 12px 18px;

    /*sombras*/
    --sombra:0px 16px rgb(0,0,0,0.24);

    /*borda*/
    --borda: 8px;

}
body{
    box-sizing: border-box;
    background-color: var(--fundo);
    font-size: 16px;
    margin: 32px;
    padding: auto;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}



