@font-face {
  font-family: 'icomoon';
  src:  
    url('../../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lupa:before {
  content: "\e900";
  color: #fff;
  font-size: 1.25rem;
  background-color: rgba(80, 129, 251, 0.16);;
  padding: 16px;
  border-radius: var(--borda);
  margin-right: 16px;
  opacity: 0.64;
}
.icon-pessoas:before {
  content: "\e901";
  color: #fff;
  font-size: 1.25rem;
  background-color: rgba(80, 129, 251, 0.16);;
  padding: 16px;
  border-radius: var(--borda);
  margin-right: 16px;
  opacity: 0.64;
}
.icon-codigo__ativo:before {
  content: "\e902";
  color: #fff;
  font-size: 1.25rem;
  background-color: var(--cor-1);
  padding: 16px;
  border-radius: var(--borda);
  margin-right: 16px;
  
}
.icon-menu_ativo:before {
  content: "\e903";
  color: #fff;
  font-size: 1.25rem;
}
.icon-coracao_ativo:before {
  content: "\e904";
  color: #d11a1a;
  font-size: 1.25rem;
}
.icon-coracao:before {
  content: "\e905";
  color: #fff;
  font-size: 1.25rem;
}
.icon-comentario:before {
  content: "\e906";
  color: #fff;
  font-size: 1.25rem;
}
.icon-bandeira:before {
  content: "\e907";
  color: #fff;
  font-size: 1.25rem;
}
.icon-menu:before {
  content: "\e908";
  color: #fff;
  font-size: 1.25rem;
}
.icon-seta:before {
  content: "\e909";
  color: #f8f8f8;
}
