.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
.campo__busca{
    width: 100%;
    margin-left: 10.438rem;
    margin-right: 13.625rem;
}