.menu__lateral{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.menu__lateral > p{
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 1.125rem;
    letter-spacing: 0.4rem;
}
.menu__lateral > a{
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
}
.menu__lateral--link{
    font-family: 'Inter', sans-serif;
}